@model IEnumerable<AlertSystemMVC.Models.Alert>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepeatType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertProperty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThresholdValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyAlertTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepeatType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertProperty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThresholdValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyAlertTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Key }) |
            @Html.ActionLink("Details", "Details", new { id=item.Key }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Key })
        </td>
    </tr>
}

</table>
